# Application
APP_NAME="Ecommerce"
APP_ENV=local # local, production, test
APP_DEBUG=true
APP_URL=http://localhost:8000/
PUBLIC_URL=http://localhost:8000/public/
APP_SUBDIRECTORY=
APP_TIMEZONE=Asia/Dhaka

# Database
DB_HOST=localhost
DB_USER=root
DB_PASS=12345678
DB_NAME=pgw
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

# Security
CSRF_ENABLED=true
SESSION_SECURE=false